/* 
#3b5249 - dark sage - previous and next buttons
#519872 - sage - header
#afd4c0 - light sage - background 
#e5f4ec - really light sage - component body
#8aea92 - alien green - add new property and complete buttons
#fec2c2 - pig pink - cancel button
#dedede - gray - listing background
*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  background: #afd4c0;
}

a {
  color: #333;
  text-decoration: none;
}

/* Header */

.houser {
  background: #519872;
  color: #fff;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20%;
}

/* Dashboard */

.dashboard {
  background: #e5f4ec;
  width: 60%;
  height: 2500px;
  margin-left: 20%;
}

.dash-title {
  line-height: 2;
  font-size: 2rem;
}

.dash-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.add-property-button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #333;
  font-size: 20px;
  background: #8aea92;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.listings {
  border-top: solid;
  display: flex;
  align-items: center;
  height: 60px;
  width: 80%;
  margin-left: 10%;
  padding-left: 8%;
}

/* House */

.house {
  background: #dedede;
  height: 150px;
  width: 80%;
  margin: 10px 10%;
  display: flex; 
  flex-direction: column
}

.delete {
  margin-left: 46.3%;
  margin-top: .5%;
  /* margin-top: -9%; */
  background: transparent;
  border: none;
  position: absolute;
  font-size: 1.2rem;
}