/* 
#3b5249 - dark sage - previous and next buttons
#519872 - sage - header
#afd4c0 - light sage - background 
#e5f4ec - really light sage - component body
#8aea92 - alien green - add new property and complete buttons
#fec2c2 - pig pink - cancel button
#dedede - gray - listing background
*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}
