/* 
#3b5249 - dark sage
#519872 - sage
#afd4c0 - light sage
#e5f4ec - really light sage
#8aea92 - alien green
#fec2c2 - pig pink
#dedede - gray
*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}
